@model IDCardBD.Web.Models.Teacher

@{
    ViewData["Title"] = "Add Teacher";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">New Teacher Information</h3>
            </div>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FullName"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TeacherCode"></label>
                                <input asp-for="TeacherCode" class="form-control" />
                                <span asp-validation-for="TeacherCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Designation"></label>
                                <input asp-for="Designation" class="form-control" />
                                <span asp-validation-for="Designation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Department"></label>
                                <input asp-for="Department" class="form-control" />
                                <span asp-validation-for="Department" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmergencyContact"></label>
                                <input asp-for="EmergencyContact" class="form-control" />
                                <span asp-validation-for="EmergencyContact" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BloodGroup"></label>
                                <input asp-for="BloodGroup" class="form-control" />
                                <span asp-validation-for="BloodGroup" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Profile Photo</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="photo" class="custom-file-input" id="photoFile">
                                <label class="custom-file-label" for="photoFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save Teacher</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on('change', function () {
                var fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });
        });
    </script>
}
